<!DOCTYPE html>
<html>
    <head>
        <!-- 页面meta -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>传智健康</title>
        <meta name="description" content="传智健康">
        <meta name="keywords" content="传智健康">
        <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
        <!-- 引入样式 -->
        <link rel="stylesheet" href="../plugins/elementui/index.css">
        <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body class="hold-transition">
        <div id="app">
            <div class="content-header">
                <h1>用户/菜单/权限/角色管理<small>权限管理</small></h1>
                <el-breadcrumb separator-class="el-icon-arrow-right" class="breadcrumb">
                    <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
                    <el-breadcrumb-item>用户/菜单/权限/角色管理</el-breadcrumb-item>
                    <el-breadcrumb-item>权限管理</el-breadcrumb-item>
                </el-breadcrumb>
            </div>
            <div class="app-container">
                <div class="box">
                    <div class="filter-container">
                        <el-input placeholder="权限名称/keyword" v-model="pagination.queryString" style="width: 200px;" class="filter-item"></el-input>
                        <el-button @click="findPage()" class="dalfBut">查询</el-button>
                        <el-button type="primary" class="butT" @click="handleCreate()">新建</el-button>
                    </div>
                    <el-table size="small" current-row-key="id" :data="dataList" stripe highlight-current-row>
                        <el-table-column type="index" align="center" label="序号"></el-table-column>
                        <el-table-column prop="name" label="权限名称" align="center"></el-table-column>
                        <el-table-column prop="keyword" label="权限keyword" align="center"></el-table-column>
                        <el-table-column prop="description" label="描述" align="center"></el-table-column>
                        <el-table-column label="操作" align="center">
                            <!--
                                template: 定义模板，定义组件
                                slot-scope: 插槽
                                作用：格式化输出
                                scope: 作用域里有封装的信息
                                scope.row: 表格中这一行的原数据
                            -->
                            <template slot-scope="scope">
                                <el-button type="primary" size="mini" @click="handleUpdate(scope.row)">编辑</el-button>
                                <el-button size="mini" type="danger" @click="handleDelete(scope.row)">删除</el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                    <div class="pagination-container">
                        <el-pagination
                            class="pagiantion"
                            @current-change="handleCurrentChange"
                            :current-page="pagination.currentPage"
                            :page-size="pagination.pageSize"
                            layout="total, prev, pager, next, jumper"
                            :total="pagination.total">
                        </el-pagination>
                    </div>
                    <!-- 新增标签弹层 -->
                    <div class="add-form">
                        <el-dialog title="新增权限" :visible.sync="dialogFormVisible">
                            <el-form ref="dataAddForm" :model="formData" :rules="rules" label-position="right" label-width="100px">
                                <el-row>
                                    <el-col :span="12">
                                        <el-form-item label="权限名称" prop="name">
                                            <el-input v-model="formData.name"/>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="12">
                                        <el-form-item label="KEYWORD" prop="keyword">
                                            <el-input v-model="formData.keyword"/>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                                <el-row>
                                    <el-col :span="24">
                                        <el-form-item label="权限说明">
                                            <el-input v-model="formData.description" type="textarea"></el-input>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                            </el-form>
                            <div slot="footer" class="dialog-footer">
                                <el-button @click="dialogFormVisible = false">取消</el-button>
                                <el-button type="primary" @click="handleAdd()">确定</el-button>
                            </div>
                        </el-dialog>
                    </div>

                    <!-- 编辑标签弹层 -->
                    <div class="add-form">
                        <el-dialog title="编辑权限" :visible.sync="dialogFormVisible4Edit">
                            <el-form ref="dataEditForm" :model="formData" :rules="rules" label-position="right" label-width="100px">
                                <el-row>
                                    <el-col :span="12">
                                        <el-form-item label="权限名称" prop="name">
                                            <el-input v-model="formData.name"/>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="12">
                                        <el-form-item label="项目KEYWORD" prop="keyword">
                                            <el-input v-model="formData.keyword"/>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                                <el-row>
                                    <el-col :span="24">
                                        <el-form-item label="权限说明">
                                            <el-input v-model="formData.description" type="textarea"></el-input>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                            </el-form>
                            <div slot="footer" class="dialog-footer">
                                <el-button @click="dialogFormVisible4Edit = false">取消</el-button>
                                <el-button type="primary" @click="handleEdit()">确定</el-button>
                            </div>
                        </el-dialog>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <!-- 引入组件库 -->
    <script src="../js/vue.js"></script>
    <script src="../plugins/elementui/index.js"></script>
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script src="../js/axios-0.18.0.js"></script>
    <script>
        var vue = new Vue({
            el: '#app',
            data:{
                pagination: {//分页数据模型
				    currentPage: 1,//当前页码
				    pageSize:10,//每页显示的记录数
				    total:0,//总记录数
				    queryString:null//查询条件
				},
				dataList: [],//当前页要展示的分页列表数据
                formData: {},//表单数据
                dialogFormVisible: false,//增加表单是否可见，即是否弹出添加窗口
                dialogFormVisible4Edit:false,//修改表单是否可见，即是否弹出修改窗口
                rules: {//校验规则
                    name: [{ required: true, message: '权限名称为必填项', trigger: 'blur' }],
                    keyword: [{ required: true, message: 'keyword为必填项', trigger: 'blur' }]
                }
            },
            //钩子函数，VUE对象初始化完成后自动执行
            created() {
                this.findPage();
            },
            methods: {
				// 弹出添加窗口
                handleCreate() {
                    this.resetForm();
                    // 弹出
                    this.dialogFormVisible = true;
                },
				// 添加
                handleAdd () {
                    // 发送请求，提交formData
                    this.$refs['dataAddForm'].validate(valid => {
                        if(valid) {
                            axios.post('/permission/addPermission.do', this.formData).then(res => {
                                //result {flag, message, data}
                                // 响应结果提示
                                this.$message({
                                    message: res.data.message,
                                    type: res.data.flag ? 'success' : 'error'
                                });
                                if (res.data.flag) {
                                    // 成功关闭窗口，
                                    this.dialogFormVisible = false;
                                    // 且刷新列表数据
                                    this.findPage();
                                }
                            })
                        }
                    })
                },				
                // 重置表单
                resetForm() {
                    // 清空表单内容
                    this.formData = {};
                },
				// 分页查询
                findPage() {
                    // 提交查询条件、大小，页码
                    axios.post('/permission/findPermision.do', this.pagination).then(res => {
                        if(res.data.flag){
                            // 成功
                            // 绑定列表数据
                            this.dataList = res.data.data.rows;
                            this.pagination.total = res.data.data.total;
                        }else{
                            this.$message({
                                message: res.data.message,
                                type: 'error'
                            })
                        }
                    })
                },
                // 删除
                handleDelete(row) {
                    var id = row.id;
                    // 询问
                    this.$confirm('此操作将【永久删除】该检查项, 是否继续?', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        // 点击确定执行
                        // 请求删除数据
                        axios.post('/permission/deletePermission.do?id=' + id).then(res => {
                            this.$message({
                                message: res.data.message,
                                type: res.data.flag?'success':'error'
                            });
                            if(res.data.flag){
                                this.findPage();
                            }
                        })
                    }).catch(() => {
                        // 点击取消时执行

                    });
                },
                // 修改数据后提交
                handleEdit() {
                    this.$refs['dataEditForm'].validate(valid => {
                        // 验证通过 if(valid) valid为true, valid有值不为false
                        // 不为空 if(!valid) valid不为空也不为false, null, '', undefined
                       if(valid){
                            axios.post('/permission/updatePermission.do', this.formData).then(res => {
                                this.$message({
                                    message: res.data.message,
                                    type: res.data.flag?'success':'error'
                                });
                                if(res.data.flag){
                                    // 成功则关闭窗口且刷新列表
                                    this.dialogFormVisible4Edit = false;
                                    this.findPage();
                                }
                            })
                       }
                    })
                },
                // 弹出修改窗口
                handleUpdate(row) {
                    //alert(JSON.stringify(row));
                    // 获取id
                    var id = row.id;
                    this.resetForm();
                    // 弹出修改的窗口
                    this.dialogFormVisible4Edit = true;
                    // 发送请求，回显数据
                    axios.get('/permission/findPermissionById.do?id=' + id).then(res=>{
                        if(res.data.flag){
                            // 回显
                            this.formData = res.data.data;
                        }else{
                            this.$message({
                                message: res.data.message,
                                type: 'error'
                            })
                        }
                    })
                },
                // 切换页码时，需要刷新列表
                handleCurrentChange(currentPage) {
                    //  改变页码
                    this.pagination.currentPage = currentPage;
                    this.findPage();
                }
            }
        })
    </script>
</html>